<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EtchASketch</title>
    <link rel="stylesheet" type="text/css" href="/static/Style.css">
</head>
<center>
    <body>
        <a>
            <button class = "sketchbtn" onclick="window.location.href='/sketch'">
                Sketch
            </button>
        </a>
        <br>
        <b>Controls: W, A, S, D to move, R to clear.</b>
    </body>
</center>
</html>