<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body {
            margin: 0;
            height: 100%;
            width: 100%;
            background-color: rgb(104, 102, 102);
        }
        canvas {
            border-style: solid;
            border-color: red;
            background-color: #ffffff;
        }
        #game {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="game">
        <input type='color' value='#ff0000' id='colourWell'></input>
        <canvas id="canvas"></canvas>    
    </div>        
    <script src="/static/sketch.js"></script>
</body>